* {
    font-family: 'Open Sans', sans-serif;
    color: gray;
    font-size: 14px;

}

h3 {
    margin: 30px 0px 20px 0px;
    font-size: 26px;
    text-transform: uppercase;
}
.logo {
    scale: 0.60;
    margin-left: -70px;
}

.navbar {
    position: fixed;
    z-index: 10;
    width: 100%;
    background-color: rgba(238, 238, 238, 0.9) !important;
    /* margin-top: -90px; */
}

.navbar-nav {
        font-weight: 300;
        text-transform: uppercase;
        font-size: 1.0rem;
   }

   .active {
    color: #3752fa!important;
}



.nav-link:hover {
    color: #3752fa!important;   
}

.container-fluid {
    padding: 0;
}

.text1  {
    position: absolute;
    color: #1c2e9d;
    font-weight: 600;
    font-size: 5rem!important;
    z-index: 2;
    margin-top: -60rem;
    margin-left: 5rem;
    text-shadow: 4px 4px 6px rgba(66, 68, 90, 1);
    text-transform: uppercase;
    opacity: 1;
    transform: translateY(7em) ;
    transition: transform 4s .25s cubic-bezier(0,1,.3,1),
    opacity .3s .5s ease-out;     
    will-change: transform, opacity;
    }
    
    .text1.is-visible {
        opacity: 1;
        transform: translateY(0em)
    } 


h1 {
    position: relative;
    margin-top: 75px;
    font-family: 'Open Sans', sans-serif;
    color: #3752fa;
    text-align: center;
}

.bcg {
position: relative;
padding: 0px!important;
}
h3 {
    color: #3752fa;
}

.margin-cat {
    margin-left: 7rem
}

.bi {
    color: cornflowerblue;
}


.pos {
    position: fixed!important;
    z-index: 1;
    display: inline!important;
    left: 0px;
    bottom: 0px;
    height:400px!important;
    width: 300px;
}

h5 {
    color: #0e0e0e!important;
}


h6 {
    font-family: Al Tarikh;
color: rgb(92, 85, 85);
position: absolute;
top: 138px;
text-align: -webkit-center;
 }

.picture-anim1 {
    opacity: 0;
    transform: translateX(10em) ;
    transition: transform 4s .25s cubic-bezier(0,1,.3,1),
    opacity .3s .5s ease-out;     
    will-change: transform, opacity;
}

.picture-anim1.is-visible {
    opacity: 1;
    transform: translateX(0em)
} 
.picture-anim2 {
    opacity: 0;
    transform: translateX(10em) ;
    transition: transform 4s .35s cubic-bezier(0,1,.3,1),
    opacity .3s .5s ease-out;     
    will-change: transform, opacity;
}

.picture-anim2.is-visible {
    opacity: 1;
    transform: translateX(0em)
} 
.picture-anim3 {
    opacity: 0;
    transform: translateX(10em) ;
    transition: transform 4s .45s cubic-bezier(0,1,.3,1),
    opacity .3s .5s ease-out;     
    will-change: transform, opacity;
}

.picture-anim3.is-visible {
    opacity: 1;
    transform: translateX(0em)
} 


  
.card1 {
    opacity: 0;
  -webkit-transform: translateY(0em) ;
          transform: translateY(0em) ;
  -webkit-transition: opacity .3s .25s ease-out,
              -webkit-transform 4s .25s cubic-bezier(0,1,.3,1);
  transition: opacity .3s .25s ease-out,
              -webkit-transform 4s .25s cubic-bezier(0,1,.3,1);
  transition: transform 4s .25s cubic-bezier(0,1,.3,1),
              opacity .3s .25s ease-out;
  transition: transform 4s .25s cubic-bezier(0,1,.3,1),
              opacity .3s .2s ease-out,
              -webkit-transform 4s .25s cubic-bezier(0,1,.3,1);

  will-change: transform, opacity;
}

.card1.is-visible {
    opacity: 1;
    transform: rotateZ('0deg');}

.card2 {
    opacity: 0;
  -webkit-transform: translateY(0em) ;
          transform: translateY(0em) ;
  -webkit-transition: opacity .3s .25s ease-out,
              -webkit-transform 4s .25s cubic-bezier(0,1,.3,1);
  transition: opacity .3s .25s ease-out,
              -webkit-transform 4s .25s cubic-bezier(0,1,.3,1);
  transition: transform 4s .25s cubic-bezier(0,1,.3,1),
              opacity .3s .25s ease-out;
  transition: transform 4s .25s cubic-bezier(0,1,.3,1),
              opacity .3s .4s ease-out,
              -webkit-transform 4s .25s cubic-bezier(0,1,.3,1);

  will-change: transform, opacity;
}

.card2.is-visible {
    opacity: 1;
    transform: rotateZ('0deg');}

  
.card3 {
    opacity: 0;
  -webkit-transform: translateY(0em) ;
          transform: translateY(0em) ;
  -webkit-transition: opacity .3s .25s ease-out,
              -webkit-transform 4s .25s cubic-bezier(0,1,.3,1);
  transition: opacity .3s .25s ease-out,
              -webkit-transform 4s .25s cubic-bezier(0,1,.3,1);
  transition: transform 4s .25s cubic-bezier(0,1,.3,1),
              opacity .3s .25s ease-out;
  transition: transform 4s .25s cubic-bezier(0,1,.3,1),
              opacity .3s .6s ease-out,
              -webkit-transform 4s .25s cubic-bezier(0,1,.3,1);

  will-change: transform, opacity;
}

.card3.is-visible {
    opacity: 1;
    transform: rotateZ('0deg');}

  
.card4 {
    opacity: 0;
  -webkit-transform: translateY(0em) ;
          transform: translateY(0em) ;
  -webkit-transition: opacity .3s .25s ease-out,
              -webkit-transform 4s .25s cubic-bezier(0,1,.3,1);
  transition: opacity .3s .25s ease-out,
              -webkit-transform 4s .25s cubic-bezier(0,1,.3,1);
  transition: transform 4s .25s cubic-bezier(0,1,.3,1),
              opacity .3s .25s ease-out;
  transition: transform 4s .25s cubic-bezier(0,1,.3,1),
              opacity .3s .8s ease-out,
              -webkit-transform 4s .25s cubic-bezier(0,1,.3,1);

  will-change: transform, opacity;
}

.card4.is-visible {
    opacity: 1;
    transform: rotateZ('0deg');}

.card5 {
    opacity: 0;
  -webkit-transform: translateY(0em) ;
          transform: translateY(0em) ;
  -webkit-transition: opacity .3s .25s ease-out,
              -webkit-transform 4s .25s cubic-bezier(0,1,.3,1);
  transition: opacity .3s .25s ease-out,
              -webkit-transform 4s .25s cubic-bezier(0,1,.3,1);
  transition: transform 4s .25s cubic-bezier(0,1,.3,1),
              opacity .3s .25s ease-out;
  transition: transform 4s .25s cubic-bezier(0,1,.3,1),
              opacity .3s .9s ease-out,
              -webkit-transform 4s .25s cubic-bezier(0,1,.3,1);

  will-change: transform, opacity;
}

.card5.is-visible {
    opacity: 1;
    transform: rotateZ('0deg');}

  


.card:hover {
    box-shadow: 0 10px 22px 10px rgba(27, 38, 49, 0.1);
}

.card-text {
    text-align: justify;
}
.card .img {
    filter: hue-rotate(240deg)!important;
}


.card .bi {
font-size: 4rem;
 margin-top: 1.5rem;
 margin-left: 2.5rem; }

 .service-box {
    padding: 20px;
    border-radius: 4px;
    text-align: center;
    margin: 15px 0;
    box-shadow: 0px 2px 18px 0px rgba(198, 198, 198, 0.3);
    transition: all 0.3s;
}

.services-box:focus {
    box-shadow: 0 10px 22px 10px rgba(24, 40, 55, 0.1);
}

.wd-icon {
    width: 4rem;
    height: auto;
}


.carousel {
    width: 35rem;
    height: 30rem;
}

#map {
    height: 200px;
}

footer {
    background-color: rgba(238, 238, 238, 0.9)
}

.animate__slow2 {
    animation-delay: 0.5s;
    shape-image-threshold: 0.8;
}

.animate__slow3 {
    animation-delay: 1s;
}

.text-footer p {
    font-size: small!important;

}

.copyright-content {
    border-top: 1px solid #d5d4e9;
    padding: 15px 0;
    margin: 45px 0 0px;
}

@keyframes heartbeat {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}

.heartbeat {
    animation: heartbeat 2.5s infinite; 
    }