* {
    font-family: 'Open Sans', sans-serif;
    color: gray;
}

h3 {
    margin: 30px 0px 20px 0px;
    font-size: 26px;
    text-transform: uppercase;
}
.logo {
    scale: 0.60;
    margin-left: -70px;
}

.navbar {
    position: fixed;
    z-index: 10;
    width: 100%;
    background-color: rgba(238, 238, 238, 0.9) !important;
    /* margin-top: -90px; */
}

.navbar-nav {
        font-weight: 300;
        text-transform: uppercase;
        font-size: 1.0rem;
   }

   .active {
    color: #3752fa!important;
}



.nav-link:hover {
    color: #3752fa!important;   
}

h1 {
    position: relative;
    margin-top: 75px;
    font-family: 'Open Sans', sans-serif;
    color: #3752fa;
    text-align: center;
}

h3 {
    color: #3752fa;
}

.bi {
    color: cornflowerblue;
}


.pos {
    position: fixed!important;
    z-index: 1;
    display: inline!important;
    left: 0px;
    bottom: 0px;
    height:400px!important;
    width: 300px;
}


h6 {
    font-family: Al Tarikh;
color: rgb(92, 85, 85);
position: absolute;
top: 138px;
text-align: -webkit-center;
 }

 .service-box {
    padding: 20px;
    border-radius: 4px;
    text-align: center;
    margin: 15px 0;
    box-shadow: 0px 2px 18px 0px rgba(198, 198, 198, 0.3);
    transition: all 0.3s;
}

.services-box:focus {
    box-shadow: 0 10px 22px 10px rgba(24, 40, 55, 0.1);
}

.wd-icon {
    width: 4rem;
    height: auto;
}

#map {
    height: 400px;
}

footer {
    background-color: rgba(238, 238, 238, 0.9)
}

.animate__slow2 {
    animation-delay: 0.5s;
    shape-image-threshold: 0.8;
}

.animate__slow3 {
    animation-delay: 1s;
}

.text-footer p {
    font-size: small!important;

}